body{
    background-color: rgb(200, 200, 200);
    display: grid;


}




.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    transition: background 0.5s, color 0.5s;
}

.sidebar{
    
    grid-column: span 2;
    padding: 20px;
    background: #393939;
    color: white;
    grid-row: span 5;
    



}




.conteudo{
    height: 100%;
    grid-column: 3 / span 11;
    padding: 20px;
    

}


.Texto{
    box-sizing: border-box;
    font-family: "Segoe UI";
    border: 5px solid white;
    border-radius: 20px ;
    padding: 20px;
    box-shadow: 0px 4px 8px black;
}

img{
    height: 100px;
    max-width: 100%;
    border-radius: 20px;
    transition: transform 0.5s ease;
    
}

img:hover{
    transform:scale(1.3);
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}



:root {
      --cor-fundo: white;
      --cor-texto: black;
    }
    #tema {
       position: absolute;
       opacity: 0;
       width: 0;
       height: 0;
    }

    
    #tema:checked ~ .container {
      --cor-fundo: black;
      --cor-texto: white;
    }



    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .conteudo {
      background-color: var(--cor-fundo);
      color: var(--cor-texto);
      min-height: 100vh; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: background 0.5s, color 0.5s;

    }

    header {
    position: relative;
    border-radius: 10px;
    display: flex;
    padding: 0%;
    margin: 0%;
    grid-column: span 12;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    transition: background 0.5s, color 0.5s;
    justify-content: space-between;
    box-shadow: 0px 4px 8px black;
    
}

    
    .switch {
      position: absolute;
      margin-bottom: 20px;
      right: 20px;
      z-index: 1000;
    }

    .switch label {
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    .switch input {
      display: none;
    }

    .slider {
      width: 50px;
      height: 24px;
      background-color: #ccc;
      border-radius: 24px;
      position: relative;
      transition: background 0.3s;
    }

    .slider::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      left: 2px;
      top: 2px;
      background-color: white;
      border-radius: 50%;
      transition: transform 0.3s;
    }

    #tema:checked + label .slider {
      background-color: #666;
    }

    #tema:checked + label .slider::before {
      transform: translateX(26px);
    }




